
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta  http-equiv="pragma" content="no-cache"/>
        <meta  http-equiv="expires" content="-1"/>
        <meta http-equiv="Content-Type" content="text/html;"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all"/>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
  		<link rel="stylesheet" href="/static/css/friendly.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	    <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <style>
        html, body{
                height: 100%;
                margin: 0;
                padding: 0;
            }
                a {
    color: #223944;
    text-decoration: none;
    }
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.btn-lgm{
    margin-bottom: 0px;
    width: 100%;
    }
        </style>
        <title> {{app_title}} {{name}}</title>

    </head>
    <body>

            <div class="header text-center">
                <h1>{{app_title}}</h1>
                <p>Service prototype using Twilio API</p>
            </div>
             <div>
                    {% block content %}
                    {% endblock %}
                </div>
            <div class="row">
             {% include "footer.html" %}
             </div>
        <script>
// When the user clicks on <div>, open the popup
function signUp() {
    var popup = document.getElementById("signingup");
    popup.classList.toggle("show");
}
 </script>
  <script>
function signIn() {
    var popup = document.getElementById("signingin");
    popup.classList.toggle("show");
}
</script>

 <script type="text/javascript">
    $(document).ready(function(event) {
      $("#signup").submit(function() {
        $.always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#signin").submit(function() {
        $.always(function() {
                $("#signinModal").modal('hide');
              });
      })
    })
    </script>
    
    
    </body>

</html>