{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base_layout.html'%}
{% block content%}
{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {%for message in messages%}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    
      <div class="modal-header text-center"> 
          
          <h4 class="modal-title">Account verification</h4> 
          </div> 
          <div class="modal-body"> 
          <form class="form" method="POST" action="" role="form">
         	{{ cform.hidden_tag() }}
        
          
           
                 <div class="form-group required">
                    {{cform.code(placeholder="____", size=2) }}
                 </div>
          
       
        <div class="modal-footer"> 
     
                 <div class="form-group required">
                 	<button type="button" class="btn btn-default">Close</button> 
                 	<input type="submit" id="submit" name="submit" class="btn btn-primary"  value="Submit">
                    <!-- {{wtf.form_field(cform.submit) }} -->
                 </div>
          
         </div> 
        </form>
      </div> 

{%endblock%}